<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JH-Libary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JH_Libary copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>JH_Libary_static.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MYAggregate.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>870F46BB1DFCEE97007D56B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>870F47BD1DFCF50B007D56B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>870F47D41DFCFB18007D56B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8726BC541EFD21DF008F0867</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8726BCE11EFD2231008F0867</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8726BCE61EFD231C008F0867</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8726BD731EFD2326008F0867</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>875313F820BBD9260053EC84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87630F651F15A8280066514C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87C53C672293E21600133033</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
